.howto-section {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    align-items: center;

    /* padding-bottom: 20%; */
}
.howto-section-header {
    font-size: 3rem;
    padding-bottom: 5%;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.482);
    text-align: center;
    width: 80%;
    margin: 0% auto;
}
.howto-steps {
    text-align: left;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.57);
    margin-top: 1%;
    /* background-color: green; */
    width: 600px;
}
@media only screen and (max-width: 625px) {
    .howto-section-header {
        font-size: 1.6rem;
        width: 80%;
        margin: 0% auto;
        margin-bottom: 5%;
    }
    .howto-steps {
        font-size: 0.9rem;
        width: 60%;
        padding-left: 10%;
        padding-right: 10%;
        margin: 0% auto;
    }
}
@media only screen and (max-width: 425px) {
    .howto-steps {
        font-size: 0.8rem;
    }
}